.header
  フリマ

.wrap.page_exhibition
  .form
  .contents_box
    .contents_box__goods-image
      %p 出品画像
      %input{:type=>"image"}
    .contents_box__goods
      .contents_box__goods__name
        %p 商品名
        %input{:type=>"text"}
      .contents_box__goods__explain
        %p 商品の説明
        %input{:type=>"text"}
    .contents_box__detail
      %p.title 商品の詳細
      .contents_box__detail__category
      %p カテゴリー
      %input{:type=>"text"}
      .contents_box__detail__brand
      %p ブランド
      %input{:type=>"text"}
      .contents_box__detail__sratus
      %p 商品の状態
      %input{:type=>"text"}
    
    -# .contents_box__shipping
    -#   配送
    -#   .contents_box__shipping__burden
    -#   配送料の負担
    -#   .contents_box__shipping__area
    -#   配送元の地域
    -#   .contents_box__shipping__days
    -#   配送までの日数

    .contents_box__price
      %p.title 価格
      .contents_box__price__selling-price
      %p 販売価格
      .contents_box__price__fee
      %p 販売手数料(10%)
      .contents_box__price__profit
      %p 販売利益
    .contents_box__btn_wrap

      %p 出品する 
      %p 保存
      %p もどる
    .contents_box__note 
      %p 禁止されている行為および出品物


.footer
  %ul 
    %li プライバシーポリシー
    %li 利用規約
    %li 特定商取引に関する表記
  