.header
  フリマ

.wrap.page_exhibition
  .form
  .contents_box
    .contents_box__goods-image
      %p 出品画像
    .contents_box__goods
      .contents_box__goods__name
        商品名

      .contents_box__goods__explain
        商品の説明
    
    .contents_box__detail
      商品の詳細
      .contents_box__detail__ctegory
      カテゴリー
      .contents_box__detail__brand
      ブランド
      .contents_box__detail__sratus
      商品の状態
    
    -# .contents_box__shipping
    -#   配送
    -#   .contents_box__shipping__burden
    -#   配送料の負担
    -#   .contents_box__shipping__area
    -#   配送元の地域
    -#   .contents_box__shipping__days
    -#   配送までの日数

    .contents_box__price
      価格
      .contents_box__price__selling-price
      販売価格
      .contents_box__price__fee
      販売手数料
      .contents_box__price__profit
      販売利益
    .contents_box__btn_wrap
      出品する、保存、もどる
    .contents_box__note 
      %p 禁止されている行為および出品物


.footer
  %ul 
    %li プライバシーポリシー
    %li 利用規約
    %li 特定商取引に関する表記
  