.detail_page
  .header
    .headerInner
      .mainheader
        .icon
        .searchbox
          キーワードから探す
          
      .navbar
        .leftlist
          .leftlist_item__first
            カテゴリー
          .leftlist_item__second
            ブランド
        .rightlist
          .rightlist_item__first
            ログイン
          .rightlist_item__second
            新規会員登録
  
  .breadcrumbs
  
  .main

    .content
   
  
  .banner
  .footer